### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

###  Please note:

Due to GitHub appearing to not correctly render DataFrames that I formatted with .map("${:.2f}".format), I have 
displayed the un-formatted DataFrames in separate cells from the formatted DataFrames, and called print() on the formatted DataFrames so that the values associated with these DataFrames can be verified for correctness. 

The written description of the three observable trends based on the data are stored at the bottom of this notebook in a markdown cell.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from functools import reduce

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Initializing a variable to hold the number of unique player screen names
num_players = purchase_data['SN'].nunique()
# Initalizing a DataFrame with the number of unique player screen names
num_players_df = pd.DataFrame({num_players}, columns = ['Total Players'])
# Displaying num_players_df
num_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Initializing variables to hold the number of unique items, the average price of an item, and total revenue
num_unique = purchase_data['Item ID'].nunique()
avg_price = round(purchase_data['Price'].mean() ,2)
total_revenue = purchase_data['Price'].sum()
# Initalizing a DataFrame that will hold the quantities calculated above
purchase_analysis_total_df = pd.DataFrame({'Number of Unique Items': num_unique,
                                     'Average Price': avg_price,
                                     'Number of Purchases': num_players,
                                     'Total Revenue': total_revenue}, index = [0])
# Displaying purchase_analysis_total_df
purchase_analysis_total_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  576        2379.77

In [4]:
# Formatting the DataFrame with "$" and 2 decimal places where appropriate
purchase_analysis_total_df['Average Price'] = purchase_analysis_total_df['Average Price'].map("${:.2f}".format)
purchase_analysis_total_df['Total Revenue'] = purchase_analysis_total_df['Total Revenue'].map("${:.2f}".format)
# Displaying purchase_analysis_total_df
print(purchase_analysis_total_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  576      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Initializing a variable with male player data and a variable with the number of male players
male = purchase_data.loc[purchase_data['Gender'] == 'Male', :]
num_male = male['SN'].nunique()
# Initializing a variable with female player data and a variable with the number of female players
female = purchase_data.loc[purchase_data['Gender'] == 'Female', :]
num_female = female['SN'].nunique()
# Initializing a variable with the player data of players who identify as "other" gender or did not disclose
# a gender, and a variable with the number of such players
other_not_disclosed = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed', :]
num_other_not_disclosed = other_not_disclosed['SN'].nunique()
# Initializing variables with the percentages of players that identify with the three gender categories we are 
# considering in this analysis
percent_male = round((num_male/num_players) * 100, 2)
percent_female = round((num_female/num_players) * 100, 2)
percent_other_not_disclosed = round((num_other_not_disclosed/num_players * 100), 2)
# Initializing a DataFrame with the gender demographic information calculated above 
gender_dem_df = pd.DataFrame({'Total Count': [num_male, num_female, num_other_not_disclosed],
                              'Percentage of Players': [percent_male, percent_female, percent_other_not_disclosed]},
                            index = ['Male', 'Female', 'Other / Not Disclosed'])
# Displaying gender_dem_df
gender_dem_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Not Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Initializing variables to hold information about the purchases of male players
male_purch_count = male['Purchase ID'].count()
male_avg_purch = round(male['Price'].mean(), 2)
male_tot_purch = round(male['Price'].sum(), 2)
male_avg_tot_purch_per = round(male.groupby(['SN'])['Price'].agg('sum').mean(), 2)
# Initializing variables to hold information about the purchases of female players
female_purch_count = female['Purchase ID'].count()
female_avg_purch = round(female['Price'].mean(), 2)
female_tot_purch = round(female['Price'].sum(), 2)
female_avg_tot_purch_per = round(female.groupby(['SN'])['Price'].agg('sum').mean(), 2)
# Initializing variables to hold information about the purchases of players who identify as "other" gender or did not
# disclose their gender
oth_n_disclosed_purch_count = other_not_disclosed['Purchase ID'].count()
oth_n_disclosed_avg_purch = round(other_not_disclosed['Price'].mean(), 2)
oth_n_disclosed_tot_purch = round(other_not_disclosed['Price'].sum(), 2)
oth_n_disclosed_avg_tot_purch_per = round(other_not_disclosed.groupby(['SN'])['Price'].agg('sum').mean(), 2)
# Initializing a new DataFrame
purchase_analysis_gender_df = pd.DataFrame({'Purchase Count': [male_purch_count, female_purch_count, oth_n_disclosed_purch_count],
                                     'Average Purchase Price': [male_avg_purch, female_avg_purch, oth_n_disclosed_avg_purch],
                                    'Total Purchase Value': [male_tot_purch, female_tot_purch, oth_n_disclosed_tot_purch],
                                           'Avg Total Purchase per Person': [male_avg_tot_purch_per, female_avg_tot_purch_per, oth_n_disclosed_avg_tot_purch_per]},
                            index = ['Male', 'Female', 'Other / Not Disclosed'])
# Displaying purchase_analysis_gender_df
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Not Disclosed,15,3.35,50.19,4.56

In [7]:
# Formatting purchase_analysis_gender_df with "$" and 2 decimal places where appropriate
purchase_analysis_gender_df['Average Purchase Price'] = purchase_analysis_gender_df['Average Purchase Price'].map("${:.2f}".format)
purchase_analysis_gender_df['Total Purchase Value'] = purchase_analysis_gender_df['Total Purchase Value'].map("${:.2f}".format)
purchase_analysis_gender_df['Avg Total Purchase per Person'] = purchase_analysis_gender_df['Avg Total Purchase per Person'].map("${:.2f}".format)
# Displaying purchase_analysis_gender_df after formatting
print(purchase_analysis_gender_df)

                       Purchase Count Average Purchase Price  \
Male                              652                  $3.02
Female                            113                  $3.20
Other / Not Disclosed              15                  $3.35

                      Total Purchase Value Avg Total Purchase per Person
Male                              $1967.64                         $4.07
Female                             $361.94                         $4.47
Other / Not Disclosed               $50.19                         $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Creating bins for the age ranges of players as well as labels for those bins.
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Initializing a new column in purchase_data called Age Range and assigning each player an age range based on their 
# age.
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=group_names)

# Creating a new DataFrame that will contain unique player screen name's because there are some that appear multiple
# times.
unique_sn_df = purchase_data.drop_duplicates('SN')

# Initializing a variable called age_range_counts with the series of age ranges and the number of entries in each.
age_range_counts = unique_sn_df['Age Range'].value_counts().reindex(['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])


# Initializing a variable called age_range_percent_of_players with the percentage of total players each age range
# makes up.
age_range_percent_of_players = round(age_range_counts/num_players * 100, 2).reindex(['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])

# Creating a DataFrame from the number of players in each age range, and the percentage of total players that that 
# age range makes up.
age_dem_df = pd.DataFrame({'Total Count': age_range_counts, 'Percentage of Players': age_range_percent_of_players})
# Displaying age_dem_df
age_dem_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Initializing a DataFrame with the summed values of each column of purchase_data grouped by Age Range
summed_df = purchase_data.groupby(['Age Range']).sum()
# Initializing variables that will hold the Purchase Count, Average Purchase Price, Total Purchase Value and 
# Avg Total Purchase per Person based on Age Range.
num_purchases = purchase_data['Age Range'].value_counts()
avg_purchase_price = round(summed_df['Price']/num_purchases, 2)
total_purch_per_age_range = summed_df['Price']
avg_purchase_per_person = round(summed_df['Price']/unique_sn_df['Age Range'].value_counts(), 2)

# Initializing a DataFrame with the above variables grouped by Age Range
purchase_analysis_age_df = pd.DataFrame({'Purchase Count': num_purchases,
                                         'Average Purchase Price': avg_purchase_price,
                                         'Total Purchase Value': total_purch_per_age_range,
                                        'Avg Total Purchase per Person': avg_purchase_per_person})

# Reindexing the purchase_analysis_age_df to match the previously produced DataFrames
purchase_analysis_age_df = purchase_analysis_age_df.reindex(['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])            
# Displaying purchase_analysis_age_df
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [10]:
# Formatting purchase_analysis_age_df with "$" and 2 decimal places where appropriate
purchase_analysis_age_df['Average Purchase Price'] = purchase_analysis_age_df['Average Purchase Price'].map("${:.2f}".format)
purchase_analysis_age_df['Total Purchase Value'] = purchase_analysis_age_df['Total Purchase Value'].map("${:.2f}".format)
purchase_analysis_age_df['Avg Total Purchase per Person'] = purchase_analysis_age_df['Avg Total Purchase per Person'].map("${:.2f}".format)
# Displaying purchase_analysis_age_df
print(purchase_analysis_age_df)

       Purchase Count Average Purchase Price Total Purchase Value  \
<10                23                  $3.35               $77.13
10-14              28                  $2.96               $82.78
15-19             136                  $3.04              $412.89
20-24             365                  $3.05             $1114.06
25-29             101                  $2.90              $293.00
30-34              73                  $2.93              $214.00
35-39              41                  $3.60              $147.67
40+                13                  $2.94               $38.24

      Avg Total Purchase per Person
<10                           $4.54
10-14                         $3.76
15-19                         $3.86
20-24                         $4.32
25-29                         $3.81
30-34                         $4.12
35-39                         $4.76
40+                           $3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Initializing a DataFrame that holds the number of times each screen name is registered in purchase_data
counts_by_sn_df = purchase_data.groupby(['SN']).count()
# Initializing a DataFrame that holds the total amount spent by each screen name
total_spend_per_sn_df = purchase_data.groupby('SN').agg({'Price': 'sum'})
# Initializing a DataFrame to hold the result of merging counts_by_sn_df and total_spend_per_sn_df
merged_spender_df = pd.merge(counts_by_sn_df, total_spend_per_sn_df, on = 'SN')
# Initializing a DataFrame with specific columns we need from merged_df
top_spenders_df = pd.DataFrame({'Purchase Count': merged_spender_df['Purchase ID'],
                             'Total Purchase Value': merged_spender_df['Price_y']})
# Mapping the $ sign to the values in Total Purchase Value

top_spenders_df['Average Purchase Price'] = round(top_spenders_df['Total Purchase Value'] / 
                                               top_spenders_df['Purchase Count'], 2)
# Sorting top_spenders by Total Purchase Value, and then by Purchase Count
top_spenders_df = top_spenders_df.sort_values(['Total Purchase Value','Purchase Count'], ascending = False).head()
# Displaying top_spenders
top_spenders_df

             Purchase Count  Total Purchase Value  Average Purchase Price
SN
Lisosia93                 5                 18.96                    3.79
Idastidru52               4                 15.45                    3.86
Chamjask73                3                 13.83                    4.61
Iral74                    4                 13.62                    3.40
Iskadarya95               3                 13.10                    4.37

In [12]:
# Formatting top_spenders with "$" and 2 decimal places where appropriate
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
# Displaying top_spenders_df
print(top_spenders_df)

             Purchase Count Total Purchase Value Average Purchase Price
SN
Lisosia93                 5               $18.96                  $3.79
Idastidru52               4               $15.45                  $3.86
Chamjask73                3               $13.83                  $4.61
Iral74                    4               $13.62                  $3.40
Iskadarya95               3               $13.10                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# Initializing a DataFrame with the count of purchase_data grouped by "Item ID"
item_count_df = purchase_data.groupby(["Item ID"]).count()
# Initalizing a DataFrame with "Item ID" as the index and the total sales per item held by a column
total_sales_per_item = purchase_data.groupby("Item ID").agg({"Price": "sum"})
# Initializing a variable to hold the three DataFrames that will be merged together 
dfs = [purchase_data[["Item ID","Item Name", "Price"]], item_count_df["Purchase ID"], total_sales_per_item]
# Initalizing a DataFrame with the result of the merge of the three DataFrames held in dfs
most_popular_items_df = reduce(lambda left,right: pd.merge(left,right,on="Item ID"), dfs)
most_popular_items_df.rename(columns = {"Price_x": "Item Price", 
                          "Price_y": "Total Purchase Value",
                          "Purchase ID": "Purchase Count"}, inplace = True)
# Initializing a DataFrame with the descending order of most_popular_items_df["Purchase Count"] and deleting duplicate
# rows
most_popular_items_df = most_popular_items_df.sort_values("Purchase Count", 
                                                          ascending = False).set_index("Item ID").drop_duplicates()
# Displaying the first five rows of most_popular_items_df
most_popular_items_df.head()

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
59,"Lightning, Etcher of the King",4.23,8,33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
# Sorting most_popular_items_df by "Total Purchase Value" first and then by "Purchase Count"
most_popular_items_df = most_popular_items_df.sort_values(["Total Purchase Value", "Purchase Count"], ascending=False)
#Displaying the first five rows of most_popular_items_df
most_popular_items_df.head()

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80

In [15]:
# Formatting the most_popular_items_df to have "$" where appropriate and values rounded to 2 decimal places
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:.2f}".format)
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:.2f}".format)
#Displaying the first five rows of most_popular_items_df
print(most_popular_items_df.head())

                                            Item Name Item Price  \
Item ID
178      Oathbreaker, Last Hope of the Breaking Storm      $4.23
82                                            Nirvana      $4.90
145                              Fiery Glass Crusader      $4.58
92                                       Final Critic      $4.88
103                                    Singed Scalpel      $4.35

         Purchase Count Total Purchase Value
Item ID
178                  12               $50.76
82                    9               $44.10
145                   9               $41.22
92                    8               $39.04
103                   8               $34.80

Three trends I observed during the analysis of the Heroes Of Pymoli purchase data are that:

1) There are five times more male players that female and players of other or non-disclosed gender combined.

2) There are more than twice the number of players in the 20-24 year old age range than any other age range.

3) The average purchase of players in the 20-24 year old age range is higher than any other age range, and additionally, the total purchases of players in the 20-24 year old age range amount to more that twice that of any other age range.